*body {
  scroll-behavior: smooth;
  background-color: #fafafa;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.parent {
  width: 100%;
}

header {
  border-bottom: 2px solid #f0efef;
}

nav {
  display: flex;
  background-color: #0644cc;
  height: 90px;
}

header h1 {
  font-weight: 500;
  text-align: center;
  margin: 50px auto;
}

#loadingStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#delStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.articleContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

h4 {
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 15px;
  width: 90%;
  color: #0644cc;
}

.img-btn {
  display: flex;
  justify-content: space-between;
}

.commentBtn {
  height: 17px;
}

a {
  text-decoration: none;
  padding: 7px 15px;
  background-color: #0644cc;
  color: white;
  border-radius: 5px;
  margin-right: 15px;
  font-size: medium;
}

a#imgH {
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
}
a#imgH:hover {
  background-color: #0644cc;
  color: #ffffff;
}

a#imgL {
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
  text-align: center;
}

a#imgL:hover {
  background-color: #0644cc;
  color: #ffffff;
}

a#imgD {
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
}

a#imgD:hover {
  background-color: #0644cc;
  color: #ffffff;
}

a#imgAdd {
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
}

a#imgAdd:hover {
  background-color: #0644cc;
  color: #ffffff;
}

a#imgEdit {
  background-color: transparent;
  color: #0644cc;
  border: 1px solid #0644cc;
}

a#imgEdit:hover {
  background-color: #0644cc;
  color: #ffffff;
}

a:hover {
  background-color: white;
  color: #0644cc;
  border: 1px solid #0644cc;
}

.nav-btn {
  margin-left: 5%;
  background-color: transparent;
  border: none;
  color: white;
}

.form-parent {
  justify-content: center;
  display: flex;
}

.jumbotron-parent {
  justify-content: center;
  display: flex;
}

.jumbotron {
  margin-top: 3%;
  width: 30%;
  background-color: #f8f9fd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.15);
}

#img {
  width: 40%;
}

#title {
  font-size: 20px;
  color: #0644cc;
  width: 90%;
}

#url {
  width: 90%;
  color: #000000;
}

#author {
  width: 90%;
  color: #000000;
}

#comments {
  margin-left: 4%;
  width: 90%;
  color: #000000;
}

form {
  width: 40%;
  background-color: #f8f9fd;
  padding: 2rem;
  margin: 2% auto;
  box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.27);
}
form label {
  margin: 1rem;
  color: #0644cc;
  margin-left: 4px;
}

form input {
  width: 98%;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  padding-left: 15px;
  color: "black";
  border: transparent;
  font-weight: 500;
  margin-bottom: 15px;
}
form input:focus {
  outline-color: #c1bfbf;
}
#createBtn {
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  border: none;
  background-color: #0644cc;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid;
  margin-left: 4px;
}
#createBtn:hover {
  padding: 10px;
  width: 15%;
  cursor: pointer;
  background-color: white;
  color: #0644cc;
  font-size: 15px;
  border: 1px solid #0644cc;
}

.fill {
  font-size: larger;
  margin-left: 4px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-weight: 500;
    text-align: center;
    margin: 50px 40px;
  }

  .jumbotron {
    width: 80%;
  }

  .articleContainer {
    display: flex;
    flex-direction: column;

    margin-top: 5%;
  }

  div {
    margin-bottom: 3%;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .nav-btn {
    background-color: transparent;
    border: none;
    color: white;
  }

  form {
    width: 70%;
    background-color: #f8f9fd;
    padding: 2rem;
    margin: 2% auto;
    box-shadow: 3px 10px 13px -2px rgba(0, 0, 0, 0.27);
  }
}
